<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Home</title>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src='/static/helpdesk/jquery-1.5.min.js' type='text/javascript' language='javascript'></script>
        {%block style %}{% endblock %}
        <script type="text/javascript">
        {% block jsapi %}{% endblock %}
        </script>
        <script type="text/javascript">
        {% block readyscript %}{% endblock %}
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>